/**
 * 首页
 */


#forkme{
	display: block; position: absolute; top: 0; right: 0;
}

#forkme img{
	cursor: pointer;
}



.wrapaper {
	display: block; margin: 0 auto;
	width: 860px;
	min-height: 100px;
	// background: #fff;
}



#head{
	display: block; position: relative;
	width: 100%;
	margin: 22px 0;
	// background: #ddd;
}

#head img{
	position: absolute; left: -105px; top: -10px;
	width: 100px;
}

#head h1{
	font-size: 38px;
	color: #444;
}
#head .intro{
	margin: 10px 0;
	letter-spacing: 0.2em;
	font-size: 16px;
	color: #786;
}

#head .nav{
	border-top: 4px solid #969F9F;
	background: #E4EBEB;
	border-radius: 0 0 5px 5px;
}
#nav_1{
	border-radius: 0 0 0 5px;
}

#head .item{
	display: inline-block;
}



#head .item a{
	display: block;
	padding: 6px 16px;
	font-size: 16px;
	font-weight: normal;
	color: #333;
	// border-bottom: 4px solid #999;
	// border-radius: 4px;
}

#head .item a.active{
	background: #CCDBDB;
	// color: #000;
}



.botline{
	display: block; clear: both;
	margin: 50px 0;
	width: 100%; height: 2px;
	border-top: 1px solid #ddd;
	border-bottom: 1px dashed #ddd;
}




.code{
	font-size: 14px;
	padding: 10px 16px;
	color: #555;
	// background: #f3f3f3;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.code *{
	font-family: "Consolas";
	font-size: 14px;
}


.code b{ color: #993300; }
.code u{ color: #090; }
.code i{ color: #6699FF; font-weight: bold; }
.code span{ color: #999988; font-style: italic; }








