



.bgcolor{
	padding: 16px 0;
	background: #EBEBE5;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}



#wleft, #wright{
	display: block; float: left;
	width: 56%;
}
#wright{
	width: 44%;
	border-radius: 5px;
}
#wleft p{
	padding-top: 16px;
	font-size: 15px;
	text-shadow: 0 1px #fff;
	text-indent: 16px;
}
#wleft p b{
	font-size: inherit; font-weight: bold;
}
#wright code{
	margin: 0 0 0 8%;
	background: #fff;
	border: 1px solid #888;
	box-shadow: 1px 1px 4px #999;
}

#wleft .bot{
	margin-top: 25px; 
	color: #666;
}
#wleft a{
	margin: 0 6px;
	font-size: 12px;
}
#wleft .download{
	margin-right: 16px;
	color: #fff;
	text-shadow: 0 1px 1px #333;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 20px; margin: 0;
	// background: #555;
	border-radius: 5px;
	border: 1px solid #333; 
	background: -webkit-linear-gradient(top,#666,#555);  
	background: -moz-linear-gradient(top,#666,#555);  
}

#wleft .download:hover{
	background: #555;  
}


#left, #right{
	display: block; min-height: 100px;
}

#left{
	width: 62%;
	float: left;
	// background: #ddd;
}

#left h4{
	color: #444;
}
#left p{
	color: #444;
}

#right{
	width: 30%; padding: 2%; 
	float: right;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #f9f9f9;
}

#right p{
	display: block;
	border-top: 1px dashed #ddd;
	margin-top: 16px;
	padding-top: 16px;
	font-size: 14px;
	color: #444;
}
#right i{
	display: block;
	font-size: 13px;
	color: #bbb;
}
#right a{
	font-size: 13px;
}

#left p{
	margin: 20px 0;
	// text-indent: 28px;
	font-size: 14px;
}

#left p a{
	font-size: inherit;
}


